<!-- Portfolio-->
  <section class="module" id="portfolio">
    <div class="container">
      <h1 class="section-title">Portfolio</h1>
      <div class="spacer"></div>
      <div class="row row-portfolio-filter m-b-30">
        <div class="col-md-12">
          <ul class="filters h5" id="filters">
            <li><a class="current" href="#" data-filter="*">All</a></li>
            <% @categories.each do |category| %>
            <li><a href="#" data-filter=<%="." + category.name.downcase %>><%= category.name.capitalize%></a></li>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="row row-portfolio row-gutter row-eq-height" data-columns="3">
        <div class="grid-sizer"></div>
        <% @portfolios.each do |portfolio|%>
          <div class="portfolio-item <%= portfolio.category.name.downcase %> undefined">
            <div class="portfolio-wrapper card h-100">
              <%= image_tag "img-1.jpg" if portfolio.image.nil? %>
              <%= image_tag portfolio.image.url, style: " display: block; width: 100%; height: 300px;"%>
              <div class="portfolio-overlay"></div>
              <div class="portfolio-caption">
                <h5 class="portfolio-title"><%= portfolio.name%></h5>
              </div><a class="portfolio-link" href=<%= portfolio.link %> target="_blank"></a>
            </div>
          </div>
        <%end%>
        </div>
      </div>
      <div class="row m-t-40">
        <div class="col-md-12">
          <div class="text-center"><%= link_to "Show more", portfolios_path, class:"btn btn-lg btn-circle btn-shadow btn-white" %></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio end-->