<header class="header header-center undefined">
    <div class="container-fluid">
        <!-- Logos-->
        <div class="inner-header"><%= link_to '', root_path , class:"inner-brand"%> <%= image_tag "logo.png", class: "brand-dark", width: "77px", alt:""%> <%= image_tag "logo-light.png", class: "brand-light", width: "77px", alt: ""%>
                <!-- Or simple text-->
                <!-- Core--></a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-navigation-inline">
                <div class="inner-nav">
                    <ul>
                        <li class="menu-item-has-children menu-item-has-mega-menu"><%= link_to "Home", root_path(anchor: 'home')%></li>
                        <li class="menu-item-has-children"><%= link_to "Portfolio", root_path(anchor: 'portfolio')%></li>
                        <li class="menu-item-has-children"><%= link_to "Blog", root_path(anchor: 'blog') %></li>
                        <% if logged_in?(:site_admin)%><li class="menu-item-has-children"><%= link_to "Contact", root_path(anchor: 'contact') %></li><%end%>
                        <li><%= login_helper 'menu-item-has-children' %></li>
                        <% if logged_in?(:site_admin)%> <li class="menu-item-has-children"> <%= link_to "Admin", rails_admin_path %></li><%end%>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Mobile menu-->
        <div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
    </div>
</header>